*{
  margin: 0; 
  padding: 0; 
}
a{
    text-decoration: none;
}
.menu-bar{
    text-align: center;
    height: 70px;
    background-color: rgb(190, 184, 184);
    line-height: 70px;
}
.menu-bar ul li{
    display: inline-block;
}
.menu-bar ul li a{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 0px 10px;
    transition:0.8s;
}
.menu-bar ul li a:hover{
    color: black;
    font-size: 25px;
}

.class  h1{
    font-size: 52px;
    text-align: center;
    color: rgb(32, 41, 41);

}

.banner{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg.jpg);
}
.form-group{
    margin-bottom: 100px;
}
.form-group{
    font-size: 20px;
    text-decoration-line: initial;
}
.form-group{
    background-color: rgb(34, 155, 34);
    width: 30vh; 
}
.form-group{
    padding-left: 20px;
    margin-left: 1000px;
    
}
.form-group h1{
    font-size: 25px;
    color: cornsilk;
}
.icon{
    text-align: center;
    height: 70px;
    line-height: 70px;
}
.icon ul li{
    display: inline-block;
}
.icon ul li a{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 0px 10px;
    transition:1s;
}
.icon ul li a:hover{
    color: black;
    font-size: 25px;
}
